.infoTitle{
	padding-left: 20px;
	padding-bottom: 5px;
}

#supported{
	text-align: center;
}

#browserIcons{
	display: block;
	margin: auto;
	padding-top: 8px;
	text-align: center; 
}

#browserIcons img{
	width: 40px;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}