html, body {
	height: 100%; 
	width: 100%; 
	margin: 0;
	padding: 0;
}

body{
	background: url("../images/tex3.jpg") no-repeat fixed;
	background-size: cover;
}

.infoColumn{
  	position: relative;
  	margin: auto;
  	height: 100%;
  	width: 100%;
}

.flexBox{
	display: flex; /*inline-flex not working??*/
  	flex-direction: column;
  	flex-wrap: nowrap;
/*  	align-items: flex-start;*/ /*This conforms container to size of child instead*/
  	text-align: center;
  	height: 100%;
  	width: 50%;
  	margin: auto;
}

#title{
	margin: auto;
	margin-top: 8vh;
	margin-bottom: 10px;

	padding-right: 20px;
	padding-left: 20px;

	border-radius: 25px;
	border: 2px solid;
	border-color: #083D56;

	background-color: #D7DF71;
	color: #083D56;
}

#title h2{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Fredoka One', cursive;
	font-size: calc(20px + 0.5vw);
}

#infoContainer{
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;

	border-radius: 25px;
	border: 2px solid;
	border-color: #083D56;

	background-color: #D7DF71;
	color: #083D56;
}

.infoPadding{
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#buttonContainer{
	margin: auto;
	margin-top: 30px;
	padding-bottom: 30px; 
	/*margin-bottom gets cut off in 
	firefox/edge for some reason*/
}

.backButton{
	width: 100px;
	height: 50px;

	border-radius: 25px;
	border: 2px solid;
	border-color: #083D56;

	font-weight: bold;
	font-family: 'Fredoka One', cursive;

	background-color: #D7DF71;
	color: #083D56;

	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.backButton:hover{
	background-color: #083D56;
  	color: #D7DF71;
}

.infoTitle{
	margin: 0;
	font-size: calc(18px + 0.5vw);
	font-family: arial;
	font-family: 'Rubik', sans-serif;
}

.infoSubTitle{
	margin: 0;

	font-size: 20px;
	font-family: 'Rubik', sans-serif;
}

.infoDescription{
	margin: 0;
	padding-left: 20px;

	line-height: 1.3;
	font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 700px){
	.infoColumn{
		width: 95%;
	}

	.flexBox{
		width: 100%;
	}

	#title{
		margin-top: 3vh;
	}
}