html, body {
	width: 100%;
   	height: 100%;
   	margin: 0;
	padding: 0;
	overflow: hidden;
}

body{
	background: url("../images/tex3.jpg") no-repeat fixed;
	background-size: cover;
}

.desktopFlex{
	display: flex;
	width: 100%;
	height: 100%;
}

.leftColumn{
	display: table;
	min-width: 300px;
  	width: 400px;
  	height:100%;
  	border-right: 6px solid;
  	background-color: #083D56;

  	z-index: 1;
}

.bioContainer{
	display:table-cell;
	width: 100%;
	padding-top: 50px;
	text-align: center;
}

#bioTitle, #bio{
	padding-left: 15px;
	padding-right: 15px; 
	color: #D7DF71;
	font-size: calc(12px + 0.2vw);
	font-family: 'Rubik', sans-serif;
}

#bioTitle{
	font-size: calc(18px + 0.2vw);
}

.bioSummary{
	padding-left: 15px;
	padding-right: 15px; 
	color: #D7DF71;
	font-size: calc(12px + 0.2vw);
	font-family: 'Rubik', sans-serif;
}

.profilePicContainer{
	width: 150px;
	height: 150px;
	margin: auto;

	border-style: solid;
	border-width: 6px;
	border-radius: 50%;

	background-color: #D7DF71;
}

#profilePic{
	width:100%;
	height:100%;
	border-radius: 50%;
}

.mediaContainer{
	position: relative;
	display:table-row;
	height: 90px;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
    vertical-align:bottom;
}

.mediaContainer #mediaTitle{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0; 

	border-top-style: solid;
	border-top-width: 6px;
	border-left-style: solid;
	border-left-width: 6px;
	border-right-style: solid;
	border-right-width: 6px;

	background-color: #D7DF71;

	font-family: 'Fredoka One', cursive;
}

.mediaLinks{
	position: relative;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	border-top-style: solid;
	border-top-width: 6px;
	background-color: #D7DF71;
}

.mediaLinks img{
	width: 40px;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

#bitbucket{
	border-radius: 25%;
}

/*#################################################*/
.rightColumn{
	flex-grow: 1;
	overflow: auto;
	right: 0;

	text-align: center;
	z-index: 2;
}

.infoPanelsContainer{
	position: relative;
}

.infoPanel{
	position: relative;
	display: inline-block;
	flex: 0 0 900px;
	margin-left: 25px;
	margin-right: 25px;
}

.leftButtonWrapper, .rightButtonWrapper{
	position: relative;
	display: inline-block;
	margin-top: 50px;
	margin-left: 25px;
	margin-right: 25px;  
	margin-bottom: 50px;

	text-align: center;
}

.leftButtonWrapper{
	float: left;
}
.rightButtonWrapper{
	float: right;
}

.infoButton{
	position: relative;
	width: 420px;
	height: 250px;

	border-radius: 25px;
	border: 2px solid grey;
	border-color: #083D56;

	background-color: #D7DF71;
	color: #083D56;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;

  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.infoButton span{
	font-weight: bold;
	font-family: 'Fredoka One', cursive;
	font-size: 32px;
}

#button3{
/*	background-image: url("../images/education.png");*/
}

.infoButton:hover{
  	background-color: #083D56;
  	color: #D7DF71;
}
/*#################################################*/

.mobileHeading{
	display: none;
	width: 100%;
	background-color: #083D56;
	border-bottom: 6px solid;
}

.mobileFooter{
	display: none;
}

@media only screen and (min-width: 2010px) {
	.infoButton{
    	width: 620px;
		height: 370px;
  	}

  	.infoButton span{
  		font-size: 32px;
  	}

	.leftColumn{
  		width: 600px;
  	}

  	#bioTitle{
		font-size: 1.1vw;
	}

	#bio{
		font-size: 0.8vw;
	}

	.bioSummary{
		font-size: 0.8vw;
	}
}


@media only screen and (max-width: 700px), only screen and (max-height: 620px) and (max-width: 850px) {
	.mobileHeading{
		display: inline-block;
	}

	.mobileHeadingFlex{
		display: flex;
		flex-wrap: nowrap;
		margin-top: 30px; 
	}

	.profilePicContainer{
		width: 35vw;
		height: 35vw;
		min-width: 80px;
		min-height: 80px;
		max-width: 200px;
		max-height: 200px;
		margin-left: 20px;
	}

	.basicInfoContainer{
		float: left;
		height: 100%;
		width: 95%;
		margin: 0;
		margin-left: 10%;
		padding: 0;
		padding-right: 20px;
	}

	.basicInfoContainer h3, p{
		padding: 0;
		text-align: left;
		color: #D7DF71;
		font-family: 'Rubik', sans-serif;
	}

	.basicInfoContainer h3{
		font-size: 20px;
	}

	.bioSummary{
		padding-right: 25px;
		padding-left: 25px;
		font-size: 16px;
	}

	.leftColumn{
		display: none;
	}

	.rightColumn{
		display: inline-block;
	}

	.infoPanelsContainer{
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.infoPanel{
		margin: 0;
		width: 95%;
	}

	.infoButton{
		height: 190px;
		width: 90vw;
		max-width: 400px;
	}

	.leftButtonWrapper, .rightButtonWrapper{
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		float: left;
	}

	.mobileFooter{
		display: block;
	}

	.mediaContainer{
		display: inline-block;
	}
}